body {
    margin: auto;
    background-color: white;
    width: 80%;
    text-align: center;
}

.heading{
    background-color: whitesmoke;
    display: flex;
    padding: 20px;
}

.flex_child{
    flex: auto;
    width: 50%;
    background-color: cornsilk;
    text-align: center;
    border-radius: 40%;
    border: 5px solid whitesmoke;
}

.highlights {
    width: 95%;
    border-radius: 10%;
    border-style: groove;
    text-align: justify center;
    margin: auto;
}

html{
    background-color: darkturquoise ;
}


