<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename = 'styles.css')}}">

        <title>Headlines</title>
    </head>

    <body>
        <header>
            <h1>Your {{publisher}}<sup>&copy;</sup> daily news digest!</h1>
            <div class="heading">
                <div id="weather" class= flex_child>
                    <form>
                        <input type="text" name="city" placeholder="City">
                        <input type="submit">
                    </form>
                </div>

                <div id="publication" class="flex_child">
                    <form>
                        <select name="publication">
                            {% for item in PUBLICATIONS %}
                                <option value="{{item}}">{{item | capitalize}}</option>
                            {% endfor %}
                        </select>
                        <input type="submit">
                    </form>
                </div>
            </div>
            <p>
                <b>{{weather.city}}</b> | <small>{{weather.country}} </small>- {{weather.description}}: <i>{{weather.temp}} &deg;C </i>  <br>  
                1 &#36 = {{currency.currency}} {{currency.rate}}
            </p>

        </header>
        <hr>
        
        {% for article in articles %}
        <div class="highlights">
            <h4><a href="{{article.link}}" target="_blank"> {{article.title}} </a></h4>
            <i>{{article.published}}</i>
            <p>
                {{article.summary}}
            </p>
        </div>
        <hr>
        {% endfor %}
        
        <footer>
            <p>
                <small>Courtesy of {{publisher}} <sup>&copy;</sup>
                </small>
            </p>
        </footer>
    </body>
</html>
