<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Headlines</title>
    </head>
    <body>
        <header>
            <h1>Your daily news digest!</h1>
        </header>
        <form>
            <input type="text" name="publication" placeholder="search">
            <input type="submit" value="Submit">
        </form>
        {% for article in articles %}
            <h4><a href="{{article.link}}"> {{article.title}} </a></h4>
            <i>{{article.published}}</i>
            <p>
                {{article.summary}}
            </p>
            <hr>
        {% endfor %}
        
        <footer>
            <p>
                <small>Courtesy of {{publisher}} <sup>&copy;</sup>
                </small>
            </p>
        </footer>
    </body>
</html>